*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
.nav-logo{
   height: 50px;
    width: 100px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

.nav-address .address-1{
    margin-left: 17px;
    color: #ccc;
    font-size: 12px;
}
 .address-2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f3a413;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.nav-cart i{
    font-size: 30px;
    
}
.nav-cart{
    font-size: .85rem;
}
.nav-cart{
    font-size: .85rem;
}
.panel{
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
}
.panel-hamburger{
    font-size: 14px;
    margin-left: 62px;
}
.panel-deals{
    display: flex;
    width: 75%;
    /* justify-content: space-evenly; */
    
}
.panel-deals li{
    list-style-type: none;
    margin-left: 30px;
}
.panel-deals a{
    text-decoration: none;
    color: white;
}
.panel-electronic{
    /* margin-left: 600px; */
    font-weight: 600;
}
.hero-section{
    background-image: url('hero_image.jpg');
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    height: 40px;
    width: 90%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 15px;
    margin-bottom: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #E7F0DC;
  
}
.box{
    height: 380px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.box-content{
    margin:  0px 20px;
}
.box-image{
    height: 300px;
    margin: 10px 0px;
    background-size: cover;
    background-position: center;
    
}
.box-content p{
    margin-top: 20px;
    font-size: 13px;
    color: #007185;
}
footer{
    margin-top: 20px;
}
.foot-panel_1{
    height: 40px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel_1 a{
    color: white;
    text-decoration: none;
    font-size: 12px;

}
.foot-panel_2{
    background-color: #232F3E;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.foot-panel_2 ul{
    margin-top: 20px;
}
.foot-panel_2 p{
    font-size: 14px;
    
   
}
.foot-panel_2 a{
    text-decoration: none;
    color: #DDD;
    display: block;
    font-size: 12px;
    margin-top: 7px;
}
.foot-panel_3{
    height: 70px;
    background-color: #232F3E;
    border-top: .02px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel_3_content{
    display: flex;
    /* justify-content: space-evenly; */
    /* width: 50%; */
    /* height: 60px; */
    align-items: center;
    justify-content: center;
    
}
.foot_panel_3_inner_content{
    display: flex;
    justify-content: space-evenly;
    /* width: 50%; */
    border: 1px solid wheat;
    margin-left: 5px;
    color: white;
    padding:5px  10px ;
    font-size: 12px;
    border-radius: 5px;
    
}
.foot_panel_3_inner_content p{
    margin-left: 5px;

}
.foot_panel_3_inner_content span{
    margin-left: 5px;
    color: #f3a413;

}

.america_logo{

    height: 12px;

}

.foot-panel_4{
    background-color: #131A22;
    height: 80px;
    font-size: 12px;
/* 
    display: flex;
    justify-content: center;
    align-items: center; */
}
.foot-panel_4 a{
    color: whitesmoke;
    text-decoration: none;
}
.pages{
    text-align: center;
    padding-top: 20px;

}

.copyright{
    text-align: center;
    padding-top: 5px;
}